.pass-count-icon {
	width: 21px; height: 23px;
	background: url('/img/humans_icon.png');
	display: inline-block;
}
.pass-count-value {
	font-size: 14px;
	color: blue;
    display: inline-block;
}

.card-footer {
	border: none;
}