.border-ellipse {
border-radius: 15px;
}

.pass-count-icon {
	width: 21px; height: 23px;
	background: url('/img/humans_icon.png');
	display: inline-block;
}
.pass-count-value {
	font-size: 14px;
    display: inline-block;
}

a.test-link {
    color: red;/* ÷вет ссылок */
   }
   a.test-link:visited {
    color: white; /* ÷вет посещенных ссылок */
   }
   a.test-link:active {
    color: white; /* ÷вет активных ссылок */
   }
