<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Тест</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
        <input class="form-control mr-lg-2" name="keyword" id="inputKeyword" type="text" placeholder="Поиск">
        <button class="btn btn-light my-2 my-lg-0" id="searchButton" type="submit">Найти</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/main_page'}">Главная</a>
            </li>

            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/admin/new_exams'}">Управление</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/create_exam'}">Создать
                    тест</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/my_exams'}">Мои тесты</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <span class="caret"></span>
                    Мой профиль
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{'/edit_profile'}">Редактировать</a>
                    <form th:action="@{/logout}" method="post">
                        <input class="dropdown-item btn btn-link" id="exitButton" type="submit" value="Выход"/>
                    </form>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="display-6 mt-3 mb-4"><span th:text="${exam.name}"></span></h2>
    <h5 class="mt-3 mb-4"><span th:text="${exam.description}"></span></h5>
</div>

<form th:action="@{'/exam_page/' + ${exam.id}}" th:object="${userAnswers}" method="post">
    <div class="container">
        <div class="card-deck mb-3 text-left">
            <div class="card mb-4">
                <div class="card-body">
                    <th:block th:each="question, i: ${exam.questions}">
                        <div th:if="${question.type.toString() != 'NO_ANSWER'}">
                            <h4 class="card-title mt-0 mb-3 font-weight-normal"
                                th:text="${question.questionText}"></h4>
                            <div class="form-check" th:each="variant, j : ${question.variants}">
                                <input class="form-check-input"
                                       th:type="${question.type.toString() == 'SINGLE_ANSWER' ? 'radio' : 'checkbox'}"
                                       th:field="*{list[__${i.index}__].checkedVariants}"
                                       th:value="${j.index}"/>
                                <input type="hidden" th:value="${i.index}"
                                       th:attr="name=list[__${i.index}__].questionId"/>
                                <label class="form-check-label"> <span
                                        th:text="${variant}"></span></label>
                            </div>

                            <hr>

                        </div>
                        <div th:if="${question.type.toString() == 'NO_ANSWER'}">
                            <h4 class="card-title mt-0 mb-3 font-weight-normal"
                                th:text="${question.questionText}"></h4>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{list[__${i.index}__].inputAnswer}"/>
                                <input type="hidden" th:value="${i.index}"
                                       th:attr="name=list[__${i.index}__].questionId"/>
                            </div>

                            <hr>

                        </div>
                    </th:block>

                    <button type="submit" class="btn btn-success mr-3" id="submitExam">Отправить</button>

                </div>
            </div>
        </div>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
