<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${title}"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/my_exams.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
        <input class="form-control mr-lg-2" name="keyword" id="inputKeyword" type="text" placeholder="Поиск">
        <button class="btn btn-light my-2 my-lg-0" id="searchButton" type="submit">Найти</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/main_page'}">Главная</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/create_exam'}">Создать
                    тест</a>
            </li>
            <li class="nav-item dropdown"
                th:classappend="${__${#httpServletRequest.requestURI.contains('/my_exams')}__ ||
                                 __${#httpServletRequest.requestURI.contains('/my_passed_exams')}__} ? active : ''">
                <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span class="caret"></span>
                    Мои тесты
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{'/my_exams'}">Созданные</a>
                    <a class="dropdown-item" th:href="@{'/my_passed_exams'}">Пройденные</a>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="dropdown02" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span class="caret"></span>
                    Мой профиль
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{'/edit_profile'}">Редактировать</a>
                    <form th:action="@{/logout}" method="post">
                        <input class="dropdown-item btn btn-link" type="submit" value="Выход"/>
                    </form>
                </ul>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')"
                th:classappend="${__${#httpServletRequest.requestURI.contains('/all_users')}__ ||
                                  __${#httpServletRequest.requestURI.contains('/all_exams')}__ ||
                                  __${#httpServletRequest.requestURI.contains('/new_exams')}__} ? active : ''">
                <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="dropdown00" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <span class="caret"></span>
                    Управление
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown00">
                    <a class="dropdown-item" th:href="@{'/all_users'}">Пользователи</a>
                    <a class="dropdown-item" th:href="@{'/all_exams'}">Все тесты</a>
                    <a class="dropdown-item" th:href="@{'/new_exams'}">Новые тесты</a>
                </ul>
            </li>
        </ul>

    </div>

</nav>


<div class="container">
    <h2 class="display-6 mt-3 mb-4" th:text="${title}"></h2>
</div>

<div class="container">
    <div class="row" id="row">
        <div class="col-lg-12">
            <div class="list-group list-group-hover">
                <th:block th:each="exam, i: ${exams}">
                    <div class="list-group-item mb-2" th:onclick="'showButtons(' + ${i.index} + ')'">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                <a th:href="@{'/' + ${examLink} + '/' + ${exam.id}}"
                                   th:text="${exam.name}" target="_blank"></a>
                            </h5>
                            <small style="color:blue" th:if="${exam.status.toString()} == 'PENDING'">Ожидает</small>
                            <small style="color:red" th:if="${exam.status.toString()} == 'REJECTED'">Отклонен</small>
                            <small style="color:green" th:if="${exam.status.toString()} == 'APPROVED'">Добавлен</small>
                        </div>

                        <p class="list-group-item-text" style="color:black" th:text="${exam.description}"></p>
                        <span class="pass-count-value mt-3 float-right" th:text="${exam.passCount}"></span>
                        <span class="pass-count-icon mt-3 float-right" title="Количество прохождений"></span>

                        <small style="color:black"><em>Создан [[${exam.createdAt}]]</em></small> <br>
                        <small style="color:black"><em>Автор @[[${exam.user.username}]]</em></small>
                        <div class="btn-block mt-3" style="display: none">
                            <p>
                                <th:block th:each="btn, k: ${btns}">
                                        <button type="button" th:class="'btn ' + ${btn.type} + ' mr-3'"
                                                th:text="${btn.text}"
                                                th:data1="${btn.actionUrl}"
                                                th:data2="${exam.id}"
                                                th:onclick="location.href='/'+this.getAttribute('data1')+'/'+this.getAttribute('data2')">
                                        </button>

                                </th:block>
                            </p>
                        </div>

                    </div>
                </th:block>
            </div>
        </div>

    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script th:inline="javascript">
    function showButtons(examId) {
        /*var list = document.getElementById("questionList");
        var childNodes = list.children;
        for (var i = 0; i < childNodes.length; i++) {
            var node = childNodes[i];
            node.style.display = 'none';
        }*/

        /*childNodes[examId].style.display = 'block';*/

        var buttons = document.getElementsByClassName("btn-block");
        for (var i = 0; i < buttons.length; i++) {
            var button = buttons[i];
            button.style.display = 'none';
        }
        buttons[examId].style.display = 'block';

        /*var items = document.getElementsByClassName("list-group-item");
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            item.className = "list-group-item";
        }
        items[examId].className = "list-group-item list-group-item-info";*/

    };

</script>

</body>
</html>