<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${title}"></title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
        <input class="form-control mr-lg-2" name="keyword" id="inputKeyword" type="text" placeholder="Поиск">
        <button class="btn btn-light my-2 my-lg-0" id="searchButton" type="submit">Найти</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/main_page'}">Главная</a>
            </li>

            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link"
                   th:href="@{'/admin/new_exams'}"
                   th:classappend="${__${#httpServletRequest.requestURI.contains('/admin/all_users')}__ ||
                                  __${#httpServletRequest.requestURI.contains('/admin/all_exams')}__ ||
                                  __${#httpServletRequest.requestURI.contains('/admin/new_exams')}__} ? active : ''"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Управление
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-haspopup="true" aria-expanded="false" th:href="@{'/create_exam'}">Создать
                    тест</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${__${#httpServletRequest.requestURI.contains('/my_exams')}__ ||
                                 __${#httpServletRequest.requestURI.contains('/my_passed_exams')}__} ? active : ''"
                   aria-haspopup="true" aria-expanded="false"
                   th:href="@{'/my_exams'}">Мои тесты</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="dropdown02" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span class="caret"></span>
                    Мой профиль
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{'/edit_profile'}">Редактировать</a>
                    <form th:action="@{/logout}" method="post">
                        <input class="dropdown-item btn btn-link" id="exitButton" type="submit" value="Выход"/>
                    </form>
                </ul>
            </li>

        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <main class="col-md-9 col-lg-9 col-xl-10">
            <h2 class="display-6 mt-3 mb-4" th:text="${title}"></h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th:block th:each="header : ${table.headers}">
                    <th scope="col" th:text="${header}"></th>
                </th:block>
            </tr>
            </thead>

            <tbody>
            <tr th:each="row, i : ${table.rows}">
                <th scope="row" th:text="${i.count}"></th>
                <th:block th:each="cell : ${row.cells}">
                    <td th:if="${cell.link} != ''">
                        <a th:href="@{${cell.link}}" th:text="${cell.data}"></a>
                    </td>
                    <td th:if="${cell.link} == ''" th:text="${cell.data}"></td>
                </th:block>
            </tr>
            </tbody>
        </table>
        </main>

        <nav class="col-md-3 col-lg-3 col-xl-2 sidebar" th:if="${sidebar} != null">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" th:each="item, k: ${sidebar.items}">
                    <a class="nav-link" th:classappend="${sidebar.activeItem} == __${k.index}__ ? active : ''"
                       th:href="@{${item.link}}">[[${item.text}]]</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>